Repository 42-Gang/frontend, pull requests merged in 2025-05, with the labels that each got.

#106 feat(login): 로그인 페이지 구현
  .gitignore
  eslint.config.js
  src/App.tsx
  src/api/fetcher.ts
  src/api/index.ts
  src/api/mutations/index.ts
  src/api/mutations/useLogin.ts
  src/components/ui/step-navigator/index.tsx
  src/components/ui/step-navigator/variants/DefaultStepNavigator.tsx
  src/components/ui/theme-provider/index.tsx
  src/constants/index.ts
  src/constants/routes.ts
  src/pages/LandingPage/index.tsx
  src/pages/SignInPage/EmailLoginPage/index.tsx
  src/pages/SignInPage/index.tsx
  src/vite-env.d.ts
  vite.config.ts
Labels: ✨ Feature, 📬 API

#109 feat(register): 회원가입 페이지 구현
  src/api/mutations/index.ts
  src/api/mutations/useMailVerification.ts
  src/api/mutations/useRegister.ts
  src/pages/SignUpPage/index.tsx
Labels: ✨ Feature, 📬 API

#117 feat(main): 메인 페이지 구현 및 `Spacing` 추가
  src/components/ui/theme-provider/GlobalStyle.tsx
  src/constants/routes.ts
  src/emotion.d.ts
  src/pages/HomePage/index.tsx
  src/pages/LandingPage/index.tsx
  src/pages/SignInPage/EmailLoginPage/index.tsx
  src/pages/SignInPage/index.tsx
  src/pages/SignUpPage/index.tsx
  src/styles/index.ts
  src/styles/spacing.ts
Labels: ✨ Feature, 🎨 Html&css

#120 feat: Game History Page 유저 데이터 불러오기 API 구현
  src/api/queries/index.ts
  src/api/queries/useUserInformation.ts
  src/api/queryKey.ts
  src/pages/HistoryPage/components/one-vs-one-stats/index.tsx
Labels: ✨ Feature, 📬 API

#122 feat: 프로필 페이지
  public/assets/fonts/DungGeunMo.woff2
  public/assets/images/sample-avatar.png
  src/App.tsx
  src/components/ui/theme-provider/GlobalStyle.tsx
  src/pages/ProfilePage/components/logout-button/index.tsx
  src/pages/ProfilePage/components/logout-button/styles.ts
  src/pages/ProfilePage/components/profile-card/index.tsx
  src/pages/ProfilePage/components/profile-card/styles.ts
  src/pages/ProfilePage/components/profile-image/index.tsx
  src/pages/ProfilePage/components/profile-image/styles.ts
  src/pages/ProfilePage/index.tsx
  src/pages/ProfilePage/styles.ts
  src/pages/index.ts
Labels: ✨ Feature, 🎨 Html&css

#124 feat: 프로필 페이지 UI 구현
  public/assets/images/cameraIcon.svg
  public/assets/images/editProfileIcon.svg
  src/components/ui/theme-provider/GlobalStyle.tsx
  src/pages/ProfilePage/components/edit-nickname-modal/index.tsx
  src/pages/ProfilePage/components/edit-nickname-modal/styles.ts
  src/pages/ProfilePage/components/image-option-modal/index.tsx
  src/pages/ProfilePage/components/image-option-modal/styles.ts
  src/pages/ProfilePage/components/logout-button/styles.ts
  src/pages/ProfilePage/components/logout-confirm-modal/index.tsx
  src/pages/ProfilePage/components/logout-confirm-modal/styles.ts
  src/pages/ProfilePage/components/profile-card/index.tsx
  src/pages/ProfilePage/components/profile-card/styles.ts
  src/pages/ProfilePage/components/profile-image/index.tsx
  src/pages/ProfilePage/components/profile-image/styles.ts
  src/pages/ProfilePage/styles.ts
  vite.config.ts
Labels: ✨ Feature, 🎨 Html&css

#125 chore(config): `vercel.json`의 api 리다이렉트 규칙 수정
  vercel.json
Labels: ⚙ Setting

#126 feat(friend): Friend 페이지 API 추가
  src/api/index.ts
  src/api/queries/index.ts
  src/api/queries/useFriendsMe.ts
  src/api/queries/useUserInformation.ts
  src/api/queries/useUsersMe.ts
  src/api/queryKey.ts
  src/api/refreshAccessToken.ts
  src/api/socket/createSocket.ts
  src/api/socket/index.ts
  src/api/socket/socketEvents.ts
  src/api/socket/socketManager.ts
  src/api/socket/socketPubSub.ts
  src/api/socket/useSocket.ts
  src/pages/FriendPage/index.tsx
  src/pages/HistoryPage/components/one-vs-one-stats/index.tsx
  src/pages/HistoryPage/components/tournament-stats/index.tsx
Labels: 📬 API

#127 feat: Game 기록 리스트 UI 구현
  pnpm-lock.yaml
  src/api/queries/useTournamentHistory.ts
  src/api/queryKey.ts
  src/api/types/game.ts
  src/components/ui/theme-provider/GlobalStyle.tsx
  src/pages/HistoryPage/components/one-vs-one-stats/game-record-list/index.tsx
  src/pages/HistoryPage/components/one-vs-one-stats/game-record-list/styles.ts
  src/pages/HistoryPage/components/one-vs-one-stats/game-summary/index.tsx
  src/pages/HistoryPage/components/one-vs-one-stats/game-summary/styles.ts
  src/pages/HistoryPage/components/one-vs-one-stats/index.tsx
  src/pages/HistoryPage/components/tournament-stats/game-record-list/index.tsx
  src/pages/HistoryPage/components/tournament-stats/game-record-list/styles.ts
  src/pages/HistoryPage/components/tournament-stats/game-summary/index.tsx
  src/pages/HistoryPage/components/tournament-stats/game-summary/styles.ts
  src/pages/HistoryPage/components/tournament-stats/index.tsx
Labels: ✨ Feature

#130 feat: 회원가입 페이지 디자인 구현
  public/assets/images/BaseButton.png
  src/pages/SignUpPage/index.tsx
  src/pages/SignUpPage/sign-up-page.styles.ts
Labels: ✨ Feature, 🎨 Html&css

#135 fix: 회원가입 REGISTER 버튼 타입 수정
  src/pages/SignUpPage/index.tsx
Labels: 🐞 BugFix

#136 feat(system): `Dialog` 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/components/system/dialog/index.tsx
  src/components/system/dialog/styles.css.ts
  src/pages/FriendPage/components/request-list-dialog/index.tsx
  src/pages/FriendPage/index.tsx
  src/pages/FriendPage/styles.css.ts
Labels: ✨ Feature, 🎨 Html&css

#137 feat: 유저 상태 UI 추가
  pnpm-lock.yaml
  public/assets/images/add-friend.svg
  public/assets/images/alarm.svg
  public/assets/images/base-button-hover.png
  public/assets/images/base-button-normal.png
  public/assets/images/message.svg
  src/components/ui/user-status/index.tsx
  src/components/ui/user-status/styles.css.ts
  src/pages/FriendPage/friend-list/friend-item/index.tsx
  src/pages/FriendPage/friend-list/friend-item/styles.css.ts
  src/pages/FriendPage/friend-list/index.tsx
  src/pages/FriendPage/friend-list/styles.css.ts
  src/pages/FriendPage/index.tsx
  src/pages/FriendPage/styles.css.ts
  src/pages/HistoryPage/components/view-toggle/styles.css.ts
  src/pages/SignUpPage/styles.css.ts
Labels: ✨ Feature

#138 feat: 친구 DM 전체 레이아웃 및 기능 구현
  public/assets/images/send-icon.svg
  src/App.tsx
  src/constants/routes.ts
  src/pages/FriendPage/FriendChatRoom.tsx
  src/pages/FriendPage/FriendChatRoomPage.styles.css.ts
  src/pages/FriendPage/components/chat-box/index.tsx
  src/pages/FriendPage/components/chat-box/styles.css.ts
  src/pages/FriendPage/components/friend-header/index.tsx
  src/pages/FriendPage/components/friend-header/styles.css.ts
  src/pages/FriendPage/components/friend-list/index.tsx
  src/pages/FriendPage/components/friend-list/styles.css.ts
  src/pages/SignInPage/EmailLoginPage/styles.css.ts
  src/pages/index.ts
  src/styles/theme.css.ts
Labels: ✨ Feature, 🎨 Html&css

#144 chore: FriendPage 파일명 변경
  src/pages/FriendPage/FriendChatRoom.tsx
  src/pages/FriendPage/components/chat-friend-header/index.tsx
  src/pages/FriendPage/components/chat-friend-header/styles.css.ts
  src/pages/FriendPage/components/chat-friend-list/index.tsx
  src/pages/FriendPage/components/chat-friend-list/styles.css.ts
Labels: 🔨 Refactor

#142 feat: 프로필 페이지 API 연동
  src/api/mutations/index.ts
  src/api/mutations/useDeleteAvatar.ts
  src/api/mutations/useLogin.ts
  src/api/mutations/useLogout.ts
  src/api/mutations/useMailVerification.ts
  src/api/mutations/useRegister.ts
  src/api/mutations/useUpdateProfile.ts
  src/api/mutations/useUploadAvatar.ts
  src/api/types/user.ts
  src/pages/ProfilePage/components/edit-nickname-modal/index.tsx
  src/pages/ProfilePage/components/image-option-modal/index.tsx
  src/pages/ProfilePage/components/logout-confirm-modal/index.tsx
  src/pages/ProfilePage/components/profile-image/index.tsx
  src/pages/ProfilePage/components/profile-image/styles.css.ts
  src/pages/ProfilePage/index.tsx
Labels: ✨ Feature, 📬 API

#145 feat: GameSelectPage UI 구현 완료
  public/assets/images/1vs1.svg
  public/assets/images/bullet.svg
  public/assets/images/gun.svg
  public/assets/images/tournament.png
  src/App.tsx
  src/constants/routes.ts
  src/pages/FriendPage/components/friend-list/index.tsx
  src/pages/GameSelectPage/index.tsx
  src/pages/GameSelectPage/styles.css.ts
  src/pages/HomePage/index.tsx
  src/pages/index.ts
  src/styles/theme.css.ts
Labels: ✨ Feature, 🎨 Html&css

#147 refactor(api): API 주소에 버전 추가
  src/api/mutations/useDeleteAvatar.ts
  src/api/mutations/useLogin.ts
  src/api/mutations/useLogout.ts
  src/api/mutations/useMailVerification.ts
  src/api/mutations/useRegister.ts
  src/api/mutations/useUpdateProfile.ts
  src/api/mutations/useUploadAvatar.ts
  src/api/queryKey.ts
  src/api/refreshAccessToken.ts
  vite.config.ts
Labels: 📬 API

#148 refactor(profile): 프로필 페이지 컴포넌트 개선
  src/api/mutations/useDeleteAvatar.ts
  src/api/mutations/useUpdateProfile.ts
  src/api/mutations/useUploadAvatar.ts
  src/components/system/dialog/styles.css.ts
  src/components/system/index.ts
  src/pages/ProfilePage/components/edit-nickname-modal/index.tsx
  src/pages/ProfilePage/components/edit-nickname-modal/styles.ts
  src/pages/ProfilePage/components/image-option-dialog/index.tsx
  src/pages/ProfilePage/components/image-option-dialog/styles.css.ts
  src/pages/ProfilePage/components/image-option-modal/index.tsx
  src/pages/ProfilePage/components/image-option-modal/styles.ts
  src/pages/ProfilePage/components/logout-button/index.tsx
  src/pages/ProfilePage/components/logout-confirm-modal/index.tsx
  src/pages/ProfilePage/components/logout-confirm-modal/styles.ts
  src/pages/ProfilePage/components/logout-dialog/index.tsx
  src/pages/ProfilePage/components/logout-dialog/styles.css.ts
  src/pages/ProfilePage/components/nickname-edit-dialog/index.tsx
  src/pages/ProfilePage/components/nickname-edit-dialog/styles.css.ts
  src/pages/ProfilePage/components/profile-image/index.tsx
  src/pages/ProfilePage/index.tsx
Labels: 🎨 Html&css, 🔨 Refactor

#150 feat: Auto 매칭 페이지 구현
  public/assets/images/spinner.svg
  src/App.tsx
  src/constants/routes.ts
  src/pages/GamePage/AutoGameMatchingPage/Auto1vs1/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/Auto1vs1/styles.css.ts
  src/pages/GamePage/AutoGameMatchingPage/AutoCustom/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/AutoCustom/styles.css.ts
  src/pages/GamePage/AutoGameMatchingPage/components/user-card/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/components/user-card/styles.css.ts
  src/pages/GamePage/AutoGameMatchingPage/components/waiting-message/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/components/waiting-message/styles.css.ts
  src/pages/GamePage/AutoGameMatchingPage/index.tsx
  src/pages/GamePage/GameSelectPage/index.tsx
  src/pages/GamePage/GameSelectPage/styles.css.ts
  src/pages/index.ts
  src/styles/theme.css.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#154 ci(vercel): 배포 API 주소 변경
  vercel.json
Labels: 📬 API

#151 feat: 매칭 페이지 UI 추가
  public/assets/images/invite-friend.svg
  src/App.tsx
  src/constants/routes.ts
  src/pages/GamePage/AutoGameMatchingPage/Auto1vs1/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/components/user-card/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/components/user-card/styles.css.ts
  src/pages/GamePage/AutoGameMatchingPage/components/waiting-message/index.tsx
  src/pages/GamePage/AutoGameMatchingPage/components/waiting-message/styles.css.ts
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/Auto1vs1/index.tsx
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/Auto1vs1/styles.css.ts
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/AutoTournament/index.tsx
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/AutoTournament/styles.css.ts
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/index.tsx
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/Custom1vs1/index.tsx
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/Custom1vs1/styles.css.ts
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/CustomTournament/index.tsx
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/CustomTournament/styles.css.ts
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/index.tsx
  src/pages/GamePage/GameMatchingPage/components/invite-friend/index.tsx
  src/pages/GamePage/GameMatchingPage/components/invite-friend/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/request-list-dialog/index.tsx
  src/pages/GamePage/GameMatchingPage/components/request-list-dialog/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/user-card/index.tsx
  src/pages/GamePage/GameMatchingPage/components/user-card/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/waiting-message/index.tsx
  src/pages/GamePage/GameMatchingPage/components/waiting-message/styles.css.ts
  src/pages/GamePage/GameSelectPage/index.tsx
  src/pages/index.ts
Labels: ✨ Feature, 🎨 Html&css

#155 refactor(friend): 친구 페이지 UI 개선 및 API 연결
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/mutations/index.ts
  src/api/mutations/useAcceptFriendsRequests.ts
  src/api/mutations/useCreateFriendsRequests.ts
  src/api/mutations/useRejectFriendsRequests.ts
  src/api/queries/index.ts
  src/api/queries/useFriendsRequests.ts
  src/api/queries/useUsersSearch.ts
  src/api/queryKey.ts
  src/api/socket/socketEvents.ts
  src/api/types/friends.ts
  src/api/types/user.ts
  src/atoms/useStatusAtom.ts
  src/components/ui/divider/index.tsx
  src/components/ui/divider/styles.css.ts
  src/components/ui/index.ts
  src/components/ui/profile-card/index.tsx
  src/components/ui/profile-card/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/components/chat-box/index.tsx
  src/pages/FriendPage/ChatRoomPage/components/chat-box/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-header/index.tsx
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-header/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-list/index.tsx
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-list/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/index.tsx
  src/pages/FriendPage/ChatRoomPage/styles.css.ts
  src/pages/FriendPage/components/add-friend/index.tsx
  src/pages/FriendPage/components/add-friend/styles.css.ts
  src/pages/FriendPage/components/friend-list/friend-item/index.tsx
  src/pages/FriendPage/components/friend-list/friend-item/styles.css.ts
  src/pages/FriendPage/components/friend-list/index.tsx
  src/pages/FriendPage/components/friend-list/styles.css.ts
  src/pages/FriendPage/components/friend-request-dialog/index.tsx
  src/pages/FriendPage/components/friend-request-dialog/styles.css.ts
  src/pages/FriendPage/components/friend-search-dialog/index.tsx
  src/pages/FriendPage/components/friend-search-dialog/styles.css.ts
  src/pages/FriendPage/components/general-alarm/index.tsx
  src/pages/FriendPage/components/general-alarm/styles.css.ts
  src/pages/FriendPage/components/request-list-dialog/index.tsx
  src/pages/FriendPage/components/request-list-dialog/styles.css.ts
  src/pages/FriendPage/index.tsx
  src/pages/FriendPage/styles.css.ts
  src/pages/index.ts
Labels: 🎨 Html&css, 📬 API, 🔨 Refactor

#156 refactor: 팝업 다이얼로그 공통 컴포넌트로 분리
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-list/styles.css.ts
  src/pages/FriendPage/styles.css.ts
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/Auto1vs1/index.tsx
  src/pages/GamePage/GameMatchingPage/AutoGameMatchingPage/AutoTournament/index.tsx
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/Custom1vs1/index.tsx
  src/pages/GamePage/GameMatchingPage/CustomGameMatchingPage/CustomTournament/index.tsx
  src/pages/GamePage/GameMatchingPage/components/invite-friend-dialog/index.tsx
  src/pages/GamePage/GameMatchingPage/components/invite-friend-dialog/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/invite-friend/index.tsx
  src/pages/GamePage/GameMatchingPage/components/request-list-dialog/index.tsx
  src/pages/GamePage/GameMatchingPage/components/request-list-dialog/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/user-card/index.tsx
  src/pages/GamePage/GameMatchingPage/components/user-card/styles.css.ts
  src/pages/GamePage/GameMatchingPage/components/waiting-message/styles.css.ts
  src/pages/GamePage/GameSelectPage/index.tsx
  src/pages/GamePage/GameSelectPage/styles.css.ts
  src/pages/HistoryPage/components/one-vs-one-stats/game-record-list/styles.css.ts
  src/pages/HistoryPage/components/tournament-stats/game-record-list/styles.css.ts
Labels: 🔨 Refactor

#158 feat: TournamentPage 토너먼트 대진표(2강) 및 기능 구현
  public/assets/images/ready-button.png
  src/App.tsx
  src/api/types/game.ts
  src/constants/routes.ts
  src/pages/GamePage/TournamentPage/components/Chat/ChatBox.tsx
  src/pages/GamePage/TournamentPage/components/Chat/ChatInput.tsx
  src/pages/GamePage/TournamentPage/components/Chat/styles.css.ts
  src/pages/GamePage/TournamentPage/components/MatchLines/index.tsx
  src/pages/GamePage/TournamentPage/components/MatchLines/styles.css.ts
  src/pages/GamePage/TournamentPage/components/MatchNode/index.tsx
  src/pages/GamePage/TournamentPage/components/MatchNode/styles.css.ts
  src/pages/GamePage/TournamentPage/components/PlayerCard/index.tsx
  src/pages/GamePage/TournamentPage/components/PlayerCard/styles.css.ts
  src/pages/GamePage/TournamentPage/index.tsx
  src/pages/GamePage/TournamentPage/styles.css.ts
  src/pages/index.ts
Labels: ✨ Feature, 🎨 Html&css

#161 refactor: 공통 BackButton 컴포넌트 사용
  src/pages/SignUpPage/index.tsx
Labels: ✨ Feature

#163 style: toast 메세지 디자인 변경, 프로필 닉네임 글자 수 제한
  src/App.tsx
  src/pages/ProfilePage/components/nickname-edit-dialog/index.tsx
  src/styles/global.css.ts
Labels: 🎨 Html&css

#165 style: alert 메세지 toast 메세지로 처리하도록 변경, sign up 버튼 css 스타일 통일화
  src/pages/SignInPage/index.tsx
  src/pages/SignUpPage/index.tsx
  src/pages/SignUpPage/styles.css.ts
  src/styles/global.css.ts
Labels: ✨ Feature, 🎨 Html&css

#167 fix(step-navigator): 컴포넌트가 포커스된 경우에만 탭과 키보드 전환이 가능하도록 수정
  src/components/ui/step-navigator/hooks/useNavigation.ts
  src/components/ui/step-navigator/index.tsx
  src/components/ui/step-navigator/variants/default-step-navigator/index.tsx
  src/pages/GamePage/GameSelectPage/index.tsx
  src/pages/HomePage/index.tsx
  src/pages/LandingPage/index.tsx
  src/pages/SignInPage/EmailLoginPage/index.tsx
  src/pages/SignInPage/index.tsx
Labels: 🐞 BugFix

#169 feat: DM 페이지 유저 정보 연동 구현, css 스타일 변경
  src/api/queries/useChatDmRoomId.ts
  src/api/queries/useChatHistory.ts
  src/api/queryKey.ts
  src/api/types/chat.ts
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-header/index.tsx
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-header/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-list/index.tsx
  src/pages/FriendPage/ChatRoomPage/components/chat-friend-list/styles.css.ts
  src/pages/FriendPage/ChatRoomPage/index.tsx
  src/pages/FriendPage/components/friend-list/index.tsx
Labels: ✨ Feature, 📬 API

#171 feat, style: 친구 초대 버튼 클릭시 친구 목록 불러오기 구현, 홈페이지 스타일 변경
  src/pages/GamePage/GameMatchingPage/components/invite-friend-dialog/index.tsx
  src/pages/GamePage/GameSelectPage/index.tsx
  src/pages/HomePage/index.tsx
  src/pages/HomePage/styles.css.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#170 feat: 4강 토너먼트 대진표 UI 구현
  public/assets/images/tournament-arrow.png
  public/assets/images/tournament-placeholder-ball.png
  src/api/types/game.ts
  src/pages/GamePage/TournamentPage/__mocks__/round2.ts
  src/pages/GamePage/TournamentPage/__mocks__/round4.ts
  src/pages/GamePage/TournamentPage/components/MatchLines/index.tsx
  src/pages/GamePage/TournamentPage/components/MatchLines/styles.css.ts
  src/pages/GamePage/TournamentPage/components/MatchNode/index.tsx
  src/pages/GamePage/TournamentPage/components/MatchNode/styles.css.ts
  src/pages/GamePage/TournamentPage/components/PlayerCard/index.tsx
  src/pages/GamePage/TournamentPage/index.tsx
  src/pages/GamePage/TournamentPage/styles.css.ts
Labels: ✨ Feature, 🎨 Html&css

#177 feat: 새 알람이 왔을 경우 친구 리스트의 알람에 눈에 띄게 표시, 애니메이션 적용
  public/assets/images/alarm-ringing.svg
  src/App.tsx
  src/api/socket/socketEvents.ts
  src/api/socket/useSocketNotification.ts
  src/pages/FriendPage/components/friend-request-dialog/index.tsx
  src/pages/FriendPage/index.tsx
  src/pages/FriendPage/styles.css.ts
  src/styles/global.css.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#180 refactor(friend): 친구 신청 및 수락 API 수정
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/mutations/useAcceptFriendsRequests.ts
  src/api/mutations/useCreateFriendsRequests.ts
  src/api/mutations/useRejectFriendsRequests.ts
  src/api/queryKey.ts
  src/api/socket/index.ts
  src/api/socket/socketEvents.ts
  src/api/socket/useFriendSocket.ts
  src/api/socket/useSocketNotification.ts
  src/api/socket/useStatusSocket.ts
  src/api/types/friends.ts
  src/api/types/user.ts
  src/pages/FriendPage/components/friend-request-dialog/index.tsx
  src/pages/FriendPage/components/friend-search-dialog/index.tsx
  src/pages/FriendPage/index.tsx
Labels: 📬 API

#183 fix(step-navigator): `StepNavigator` Focus 수정 및 Input 컴포넌트에서 엔터가 작동하지 않는 문제 해결
  src/pages/HomePage/index.tsx
  src/pages/HomePage/styles.css.ts
  src/pages/LandingPage/index.tsx
  src/pages/SignInPage/EmailSignInPage/index.tsx
  src/pages/SignInPage/EmailSignInPage/styles.css.ts
  src/pages/SignInPage/index.tsx
Labels: 🐞 BugFix, 🥰 Accessibility

#187 fix: 이미지 버튼 텍스트 나오는 버그 수정
  src/components/ui/step-navigator/variants/game-step-navigator/index.tsx
  src/pages/GamePage/GameSelectPage/index.tsx
Labels: ✨ Feature, 🐞 BugFix
